{% extends 'base.html.twig' %}

{% block body %}
    <h1>Changer mon mot de passe</h1>

    {{ form_start(form) }}
    {{ form_row(form.currentPassword) }}
    {{ form_row(form.password) }}
    <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}
