{% extends 'base.html.twig' %}

{% block body %}
    <h1>Profile</h1>
        <br>

    {{ form(form) }}

    <a href="{{ 'profile_change_pass' }}" class="btn btn-primary">{{ 'Change password'|trans  }}</a>
    <a href="/" class="btn btn-primary">{{ 'Back to homepage'|trans  }}</a>

{% endblock %}
