{% extends 'base.html.twig' %}

{% block title %}Show post{% endblock %}

{% block body %}

    <h1>Feed</h1>

        <div class="blog-post">
            <h2 class="mt-0">
                {{ post.title }}
            </h2>

            <p class="blog-post-excerpt" style="vertical-align: inherit">
                {{ post.content }}
            </p>
            {% for tags in post.tags %}
                <span class="post-metadata-tags"> {{ tags.name }}</span>
            {% endfor %}
            <br>
            <span class="post-metadata-date">{{ post.publishedAt|date('Y-m-d H:i:s') }}</span>
        </div>

{% endblock %}
